In [1]:
from konlpy.tag import Okt
from collections import Counter
import pandas as pd

In [2]:
okt = Okt()

### 파일 불러오기 및 리뷰 칼럼을 리스트화 해주기!

###### 분위기

In [3]:
atmosphere = pd.read_excel('C:/Users/SMT0903/2st_file/cafe/cafe_atmosphere(600).xlsx')

In [4]:
atmosphere

     Unnamed: 0                                                 리뷰
0             0  요즘 앞산에 가보면 카페가 굉장히 많은데요.그 많은 카페 사이에서 골목에 있는 카페...
1             1  오늘은 예쁜 가을이 지나가기 전에애정 동생 가족들이랑나들이 가기로 했어요.어제 짐을...
2             2  워낙 커피랑 디저트를 좋아해서 요즘에는대구 분위기 좋은 카페 찾으러 다니는 재미에푹...
3             3  안녕하세요 여러분! 송초코입니다!오늘은 천안카페 소개해드리러 왔어요.오랜만에 친구 ...
4             4  조만간 눈이 올것만 같은 날씨에요아직 낮에는  좀 따뜻한 편이지만 아침 저녁으로는 ...
..          ...                                                ...
623         623  안녕하세요! 오늘도 어게인입니다:)오늘도 광주 분위기 좋은 카페 찾아 나서기 탐방중...
624         624  안녕하세요!! 바나나 오피스의승사원 입니다!!(따단)오늘은 국내 여행이라고 하면 가...
625         625  3월의 첫 금요일이네요~!오늘은 인천 구월동에 분위기 좋은 카페를 소개해드릴게요~저...
626         626  의정부가볼만한곳 의정부 디저트카페 카페리브로 이색카페 분위기좋은카페의정부 가볼만한 ...
627         627  광화문에서 밥을 먹고가보고 싶었던 한옥카페를 찾아 삼청동까지 걸어왔다.삼청동 아트선...

[628 rows x 2 columns]

In [5]:
temp = atmosphere['리뷰']

In [6]:
atmosphere_series = pd.Series(temp)

In [7]:
atmosphere_series

0      요즘 앞산에 가보면 카페가 굉장히 많은데요.그 많은 카페 사이에서 골목에 있는 카페...
1      오늘은 예쁜 가을이 지나가기 전에애정 동생 가족들이랑나들이 가기로 했어요.어제 짐을...
2      워낙 커피랑 디저트를 좋아해서 요즘에는대구 분위기 좋은 카페 찾으러 다니는 재미에푹...
3      안녕하세요 여러분! 송초코입니다!오늘은 천안카페 소개해드리러 왔어요.오랜만에 친구 ...
4      조만간 눈이 올것만 같은 날씨에요아직 낮에는  좀 따뜻한 편이지만 아침 저녁으로는 ...
                             ...
623    안녕하세요! 오늘도 어게인입니다:)오늘도 광주 분위기 좋은 카페 찾아 나서기 탐방중...
624    안녕하세요!! 바나나 오피스의승사원 입니다!!(따단)오늘은 국내 여행이라고 하면 가...
625    3월의 첫 금요일이네요~!오늘은 인천 구월동에 분위기 좋은 카페를 소개해드릴게요~저...
626    의정부가볼만한곳 의정부 디저트카페 카페리브로 이색카페 분위기좋은카페의정부 가볼만한 ...
627    광화문에서 밥을 먹고가보고 싶었던 한옥카페를 찾아 삼청동까지 걸어왔다.삼청동 아트선...
Name: 리뷰, Length: 628, dtype: object

###### 디져트

In [8]:
dessert = pd.read_csv('C:/Users/SMT0903/2st_file/cafe/cafe_bakery(600).csv')

In [9]:
dessert

                                                     0
0    가을이 되면 괜스레 울적해지는 거 같아요~안그래도 확진자도 계속 두 자리 수에서세 ...
1    거리두기도 1단계로 한층 완화된 덕분에인천 사는 사촌동생이 광주로 내려왔어요~대학 ...
2    제가 일주일 중 가장 기다리는 요일인 월요일이 돌아왔어요주말을 가장 좋아할 수도 있...
3     1:1 수업을 받았는데제가 받아본 광주 원데이클래스 중 가장 최고였습니다. 현재 ...
4    브런치 메뉴도 즐길 수 있는 광주디저트카페 ! 첨단카페 홀라로사에서 브런치 먹고 왔...
..                                                 ...
595  하잇하잇오늘은 휴일입니다.쉬는군요!!그러면서 아침은 먹지 않았죠!(평소에도 먹지 않...
596  아직 코로나 1.5단계라서 사람들 많이 없을시간이었는데 한~두시간 지나니까 엄청 많...
597  안녕하세요~ 하니에요:)신랑이랑 우리 딸기랑 광주 수완지구 디저트 카페밀당 다녀왔어...
598  친구랑 오랜만에 집과 머나먼 동명동을 찾았어요!진짜 너무 멀어서 1년에 몇번 올까 ...
599  역시 핫한 동네인 수완지구.요즘 수완지구 핫플 한곳이 한곳더 생겼다는 첩보를 듣고막...

[600 rows x 1 columns]

In [10]:
temp = atmosphere['리뷰']

###### 맛

In [11]:
favor = pd.read_csv('C:/Users/SMT0903/2st_file/cafe/cafe_favor(800).csv')

In [12]:
favor

                                                     0
0    분당동의 한적한 골목으로 들어서면, 엔틱한 느낌의 건물을 하나 만날 수 있는데, 이...
1    롯데백화점에서 저녁먹고 커피 어디서 마시지 하다가웨스턴돔 카페 비라티오에 갔어요커피...
2    사진, 글, 영상 by 테리아오늘은 제주여행코스를 어떻게 잡고 돌아보면 괜찮을까? ...
3    [후쿠오카 여행_추천카페] 모닝커피가 생각 날때, 라떼가 맛있는 훜커피 fuk co...
4    카페인 중독자커피 처돌이나로 말할것~~ 같으면새내기 시절 우연히 알게된 골목에 위치...
..                                                 ...
813                                                NaN
814  **데일리로 업로드 했다가, 일주일 단위로 재편집해서 올리는 퇴사로그#wake me...
815                                                NaN
816  용산역 철길쪽 맛있는 커피가 있는 카페에 다녀왔어요!용산역에서 걸어서 10분정도 걸...
817                                                NaN

[818 rows x 1 columns]

###### 서비스

In [13]:
service = pd.read_csv('C:/Users/SMT0903/2st_file/cafe/cafe_service(721).csv')

In [14]:
service

                                                     0
0    본격적인 여름인건지 엄청엄청 더워지기 시작했어요 .오늘은 낮 최고 기온이 35 이상...
1    모시러 운전동행서비스#시간제수행기사 #모시러 #운전동행안녕하세요 민사임당입니다. 운...
2    ㅌㅌㅌㅌㅌㅌㅌㅌㅊㅊㅊㅊㅊㅊㅊ 글씨체 테스트 ㅋㅋㅋ 오늘은 글씨체를 바꿔볼까요~? ㅎ...
3    싱그러운 5월의 초록이 아름다운 양재천봄엔 벚꽃, 여름엔 초록, 가을엔 노란 은행잎...
4    부천역 예쁜 카페 [블랙소울]노을진 하늘이 예쁘던 어느 날,계속 비가 오다가 오후에...
..                                                 ...
716  족욕 카페에 가보신 적 있으신가요? 얼마 전에 여행 온 친구랑 같이 제주도 애월 카...
717  안녕하세요~  다들 크리스마스 잘 보내셨나요 ~? 오늘은 여러분들께 제 집앞쪽에있는...
718  벌써 세 번째 방문!위치는 조금 애매하지만..조용하니 분위기 너무 좋은 망포동 카페...
719  오늘 포스팅할 곳은 양재천에 위치한 핫한 카페입니다.주말에는 사람이 많을꺼 같아화요...
720  요즘 카페에서 공부하는 카공족 들이 늘어나면서 독서실과 카페를 결합한 스터디카페들이...

[721 rows x 1 columns]

atmosphere = 분위기 좋은카페


dessert = 디져트 카페


favor = 맛있는 카페


service = 서비스가 좋은 카페

### 정규화
- 자음이랑 이모티콘 ㅂㅇ 한글만 가져오자

In [15]:
import re

In [16]:
def strip_hangeul(sentence):
    return re.compile('[가-힣]+').findall(str(sentence))

In [17]:
final = atmosphere_series.apply(strip_hangeul)

In [18]:
final

0      [요즘, 앞산에, 가보면, 카페가, 굉장히, 많은데요, 그, 많은, 카페, 사이에서...
1      [오늘은, 예쁜, 가을이, 지나가기, 전에애정, 동생, 가족들이랑나들이, 가기로, ...
2      [워낙, 커피랑, 디저트를, 좋아해서, 요즘에는대구, 분위기, 좋은, 카페, 찾으러...
3      [안녕하세요, 여러분, 송초코입니다, 오늘은, 천안카페, 소개해드리러, 왔어요, 오...
4      [조만간, 눈이, 올것만, 같은, 날씨에요아직, 낮에는, 좀, 따뜻한, 편이지만, ...
                             ...
623    [안녕하세요, 오늘도, 어게인입니다, 오늘도, 광주, 분위기, 좋은, 카페, 찾아,...
624    [안녕하세요, 바나나, 오피스의승사원, 입니다, 따단, 오늘은, 국내, 여행이라고,...
625    [월의, 첫, 금요일이네요, 오늘은, 인천, 구월동에, 분위기, 좋은, 카페를, 소...
626    [의정부가볼만한곳, 의정부, 디저트카페, 카페리브로, 이색카페, 분위기좋은카페의정부...
627    [광화문에서, 밥을, 먹고가보고, 싶었던, 한옥카페를, 찾아, 삼청동까지, 걸어왔다...
Name: 리뷰, Length: 628, dtype: object

###### final[0]번만 예시로 해보기 count해보기

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
countVec = CountVectorizer()

In [20]:
countVec.fit(final[0])

CountVectorizer()

In [22]:
final_str = " ".join(final[0])

In [23]:
noun = okt.nouns(final_str)

In [24]:
count = Counter(noun)
noun_list = count.most_common(10)
for i in noun_list:
    print(i)

('카페', 18)
('스콘', 13)
('것', 13)
('커피', 11)
('분위기', 10)
('수', 10)
('친구', 8)
('느낌', 8)
('대구', 7)
('인테리어', 6)

###### 전체 데이터를 str 형태로 바꿔주자

In [25]:
string = []
for i in final:
    final_str = " ".join(i)
    string.append(final_str)

In [26]:
atmosphere_string = string

## for문으로 만들자!

In [27]:
list = [dessert, favor, service]

In [ ]:
for i in list:
    temp = i['0']
    series = pd.Series(temp)
    final = series.apply(strip_hangeul)
    string = []
    for i in final:
        final_str = " ".join(i)
        string.append(final_str)